@font-face {
  font-family: "Inter";
  src: url(fonts/Inter-VariableFont_wght.ttf) format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Inter-fallback";
  src: local("Arial");
  ascent-override: 90.2%;
  descent-override: 22.48%;
  line-gap-override: 0%;
  size-adjust: 107.4%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", "Inter-fallback";
}

:root {
  --clr-primary-green: hsl(75, 94%, 57%);

  --clr-neutral-white: hsl(0, 0%, 100%);
  --clr-neutral-grey: hsl(0, 0%, 20%);
  --clr-neutral-dark-grey: hsl(0, 0%, 12%);
  --clr-neutral-off-black: hsl(0, 0%, 8%);
}
